body {
  margin: 0;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

a {
  color: #00B7FF;
}

body >.sheet {
  height: calc(100% - 64px);
  background-color: white;
  border: 4px;
  padding: 16px;
  margin: 16px;
}
